* {
    margin: 0;
    padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/*fonts*/
h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header*/
header nav{ 
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;;
    color: white;
    margin: 20px;
}
.header-blue {
    color: #426da9;
}

nav ul{
    display: inline-block;
    margin: 10px;
}

nav li{
    display: inline-block;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-border {
    border-right: 1px solid gray;
}
/*body*/

/*intro section*/
.intro-sect { 
    align-items: center;
    background-image: url(resources/about-cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 285px 0;
}
.intro-title {
    font-size: 50px;
    text-align: center;
    padding: 20px 0px;
    color: rgb(229, 223, 223);
}
.intro-sect li{
    display: inline-block;
    color: white;
}

.intro-border {
    border-right: 1px solid rgb(193, 193, 193);
}

.intro-cont {
    display: block;
    text-align: center;
    list-style-type: none;
}

.intro-elements {
    text-align: center;
    padding-right: 5px;
    font-size: 18px;
}
/*about-me*/
.about-contents {
    display: flex;
    align-items: center;
    padding: 5px;

}
.about-sect {
    align-items: center;
    justify-content: center;
}

.about-title {
    text-align: center;
    color: rgb(229, 223, 223);
    padding: 20px 0;
}

.header-img {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.about-desc {
    text-align: center;
}


/*section layout*/
.sect {
    background: linear-gradient(to bottom, rgb(47, 45, 45), rgb(39, 38, 38));
    color: white;
    background-size: cover; 
}
.sect-heading {
    text-align: center;
    padding: 20px 0px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 30px;
    font-weight: lighter;
}

.bar {
    display: inline;
    background-color: white;
    height: 2px;
    width: 75%;
}

/*education section*/
.active {
    display: block;
}
.hidden {
    display: none
}

.edu-exp-tabs {
    text-align: center;
    padding: 20px 0px;
}
.button1, .button2 {
    background-color: rgba(39, 38, 38, 0);
    border-style: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 0px 10px;
}

.tab-bord {
    border-right: 1px solid rgb(193, 193, 193);
}

.tab-1 {
    text-align: center;
}

.table-cont {
    display: flex;
    justify-content: center;
    align-self: center;
}

.edu-heading {
    font-size: medium;
    text-align: left;
    padding: 0px 50px;
}
.edu-cont {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}
.edu-date {
    text-align: center;
}
.link {
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgb(218, 64, 64);
    padding: 10px;
    border-radius: 19px;
    margin-bottom: 10px;
}

/*Employment history*/
.employ-subsect {
    position: relative;
}

.timelinedot {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 10px;
    left: 25px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: rgb(39, 38, 38);
}

.timelinebar {
    position: absolute;
    width: 5px;
    height: 100%;
    top:25px;
    left: 32px;
    background-color: white;
}

.endline {
    height: 85%;
}

.employ-cont {
    margin-left: 50px;
}
.employment-subheading {
    font-size: 12px;
    margin-top: 10px;

}
.responsibilities {
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 0px;
}

.employ-subsect .link {
    margin: 10px auto 10px 50px;
}

/*Skills section*/
.skills-sect {
    text-align: center;
}

.study-field {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0px 20px 10px;
}

.skill-heading {
    margin: 20px 0px;
}

.skill-cont {
    background-color: rgb(69, 69, 69);
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.skillbar {
    background-color: rgb(224, 224, 224);
    position: absolute;
    bottom: 20px;
    left: 10%;
    height: 7%;
    width: 80%;
    border-radius: 20px;
}

.skill-prof {
    position: absolute;
    display: flex;
    background-color: rgb(64, 64, 211);
    height: 100%;
    border-radius: 5px;
    align-items: center;  
}
.prof-percent {
    position: absolute;
    font-size: 80%;
    right: 5%;                                                      
}
.read-more-btn {
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(218, 64, 64);
    padding: 10px;
    margin: 0px 0px 20px 30px;
    border-radius: 19px;
}
/*Skills proficiency*/
#mechde {
    width: 75%;
}

#robot {
    width: 80%;
}

#elec {
    width: 50%;
}

#asbly {
    width: 60%;
}

#pm {
    width: 80%;
}

#code {
    width: 85%;
}

#web {
    width: 85%;
}

#network {
    width: 60%;
}

#plc {
    width: 65%;
}

/*contacts section*/
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0px 7px;
}
@media screen and (max-width: 768px) {
    .study-field {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 381px) {
  
}