* {
    margin: 0;
    padding: 0;
}
/*fonts*/
h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header*/
header nav{ 
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: inline-block;
    color: white;
    margin: 20px;
}

nav ul{
    display: inline-block;
    margin: 10px;
}

nav li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}
/*body*/

/*about section*/
.about-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(resources/about-cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100px 20;
    padding: 150px 0;
}
.sect-heading {
    display: inline-block;
    padding: 20px 0px;
}
/*about-me*/
.header-img {
    order: 1;
    padding: 5px;
    margin: 5px;
}
img {
    background-attachment: fixed;
}
.about-contents {
    order: 2;
    margin: 5px;
    padding: 5px;
    color: rgb(229, 223, 223);
}

/*section layout*/
.sect {
    background-color: rgb(39, 38, 38);
    color: white;
}
.sect-heading {
    margin: 20px 20px 10px;
    font-size: 24px;
}

/*headings bar*/
.bar {
    background-color: white;
    height:2px;
    width:75%;
}

/*education section*/
.edu {
    list-style-type: none;
}

.edu-heading {
    font-size: small;
    text-align: left;
}
.edu-cont {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding-left: 10px;
    margin: 10px;
}
.edu-date {
    text-align: center;
}
.edu-link {
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(218, 64, 64);
    padding: 10px;
    margin-left: 20px;
    border-radius: 19px;
}
/*Skills section*/
.study-field {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 20px 20px 10px;
}

.skill-heading {
    margin: 20px 0px;
}

.skill-cont {
    background-color: rgb(69, 69, 69);
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.skillbar {
    background-color: rgb(224, 224, 224);
    position: absolute;
    bottom: 20px;
    left: 10%;
    height: 7%;
    width: 80%;
    border-radius: 20px;
}

.skill-prof {
    position: absolute;
    display: flex;
    background-color: rgb(64, 64, 211);
    height: 100%;
    border-radius: 5px;
    align-items: center;  
}
.prof-percent {
    position: absolute;
    font-size: 80%;
    right: 5%;                                                      
}
.read-more-btn {
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
    background-color: rgb(218, 64, 64);
    padding: 10px;
    margin-left: 30px;
    border-radius: 19px;
}
/*Skills proficiency*/
#mechde {
    width: 75%;
}

#robot {
    width: 80%;
}

#elec {
    width: 50%;
}

#asbly {
    width: 60%;
}

#pm {
    width: 80%;
}

#code {
    width: 85%;
}

#web {
    width: 85%;
}

#network {
    width: 60%;
}

#plc {
    width: 65%;
}
/*Employment history*/
.employ-subsect {
    position: relative;
}

.timelinedot {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 10px;
    left: 25px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: rgb(39, 38, 38);
}

.timelinebar {
    position: absolute;
    width: 5px;
    height: 100%;
    top:25px;
    left: 32px;
    background-color: white;
}

.employ-cont {
    margin-left: 50px;
}
.employment-subheading {
    font-size: 12px;
    margin-top: 10px;

}
.responsibilities {
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
/*contacts section*/
.contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
    .study-field {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}