* {
    margin: 0;
    padding: 0;
}
/*header*/
header nav{
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: inline-block;
    color: white;
    margin: 20px;
}

nav ul{
    display: inline-block;
    margin: 10px;
}

nav li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}

